.home-container7 {
  margin: 0 auto;
  padding: 150px;
  background-image: url('../../../public/img/background\ \(8\).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  height: 100vh;
}

.breadcrumb {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 20px;
}

.header p {
  font-size: 16px;
  color: black;
  max-width: 600px;
  padding-top: 20px;
}

.categories {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.category {
  background: white;
  width: 230px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: black;
  position: relative;
  top: 130px;
}

.category img {
  width: 40px;
}

.category .icon {
  font-size: 40px;
  color: #ff5722;
  margin-bottom: 8px;
}

.category.active {
  color: black;
}

.category.active .icon {
  color: #ff5722;
}

.category:hover {
  background: #FF5A30;
  color: white;
}

.category:hover .icon {
  color: white;
}

.category:hover img {
  color: white;
}
